[submodule "Vendor/RxSwift"]
	path = Vendor/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Vendor/GRDB.swift"]
	path = Vendor/GRDB.swift
	url = https://github.com/groue/GRDB.swift.git
